<html>
  <head>
    <link rel="icon" href="../images/icon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/shared.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Hangman</title>
  </head>
  <body>
    <div class="swinging"></div>
    <div class="big_text">HANGMAN</div>
    <div class="dashes">_ _ _ _ _ _ _</div>
    <div id="empty_space"></div>
    <form class="align_center" id="play" method="get" action="/settings">
    <input class="button big_button" type="submit" value="PLAY"></div>
    </form>
  </body>
</html>